#container{
    margin: 0 auto;
    padding: 15px;
    width: 600px;
    height: 600px;
    border: solid gray 5px;
    background-image: url(images/bg0.jpg);
}

#img{
    float: right;
    margin-top: 450px;
    width: 100px;
}

button{
    padding: 15px;
    background-color: rgb(101, 255, 101);
}